*{
    margin:0;
    padding:0;
}
body{
    width: 100vw;
    height:100vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    background-image: linear-gradient(to bottom, rgba(42, 4, 4, 0.258), rgba(185, 81, 2, 0.553));
}
#container{
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 10%;
    margin-top: 10%;
    justify-content: space-evenly;
    align-items: center;
    
}
.btn{
    width: 7.5rem;
    height:1.8rem;
    border: 1px solid rgba(37, 134, 37, 0.879);
    background-color: transparent;
    border-radius: 7px;
    box-shadow: 3px 3px 10px rgba(96, 231, 96, 0.879);
    cursor: pointer;
    font-weight: 600;
}
.btn:hover{
    background-color: rgba(255, 136, 0, 0.879);

}
.btn:active{
    transform: translate(3px, 3px);
    box-shadow: 0px 0px 0px rgba(60, 148, 60, 0.753);
    width: 7rem;
    height: 1.7rem;
}
#output{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}
.toast{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 250px;
    height: 80px;
    border: 1px solid rgba(37, 134, 37, 0.479);
    border-radius: 7px;
    /* background-color: rgba(108, 4, 253, 0.097); */
    opacity: 0;
    gap: 10px;
}
.toast::after{
    content:"";
    width: 100%;
    height: 5px;
    bottom: 0px;
    background: green;
    border-radius: 5px;
    position: absolute;
    animation: anim 3s linear forwards;
    
}
.show{
    opacity:1;
}
.toast.error::after{
    background: red;
}
.toast.warning::after{
    background: orange;
}
.toast.info::after{
    background: blue;
}
@keyframes anim {
    100%{
        width: 0px;
    }
    
}